name: Deploy demo website

on:
  push:
    branches: [release]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up NPM 16
        uses: actions/setup-node@v2
        with:
          node-version: "16"
      - name: Set up Scala
        uses: olafurpg/setup-scala@v13
        with:
          java-version: zulu@1.11
      - name: Compile
        run: sbt compile
      - name: Run tests
        run: sbt test
      - name: Build game
        run: npm ci && npm run build
      - name: Pushes to another repository
        id: push_directory
        uses: cpina/github-action-push-to-another-repository@main
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
        with:
          source-directory: dist/
          destination-github-username: 'sherpal'
          destination-repository-name: 'dictee-the-game'
          user-email: antoine.doeraene@gmail.com
          commit-message: See ORIGIN_COMMIT from $GITHUB_REF
          target-branch: master
      - name: Test get variable exported by push-to-another-repository
        run: echo $DESTINATION_CLONED_DIRECTORY